/*
mobile first baby!
( ͡° ͜ʖ ͡°)
*/

/* - scss variables - */
$main-color: #d0ff00;
$opacity-main: scale-color($main-color, $alpha: -45%);
$text-color: #ffffff;
$bg-color: #2b2b2b;

/* - media query mix in - */
@mixin for-desktop {
    @media (min-width: 1200px) { @content; }
}

/* - font import - */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* - whole page - */
html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $bg-color;

    @include for-desktop {
        background-color: darken($bg-color, 2.5%);   
    }
}

#app {
    padding-top: 0;
    margin-top: 0;
    background-color: $bg-color;
    color: $text-color;


    h1 {
        margin-top: 0;
        padding-top: 10vh;
        color: $main-color;
        font-size: clamp(3rem, 10vw, 5rem); 
        text-align: center;
        text-shadow: #000 0 5px 7.5px;
    }
    
    hr {
        border: 0;
        width: 96%;
        height: 1.5px;
        background-image: linear-gradient(to right, $opacity-main, $main-color, $opacity-main);
        box-shadow: darken($main-color, 20%) 0 -2px 7px, darken($main-color, 20%) 0 2px 7px;
        
    }

    p {
        padding: .4rem;
    }

    @include for-desktop {
        margin: 0 20vw;
        background-color: $bg-color;
        
    }
}